input[type='checkbox'] {
  width: 16px;
  height: 16px;
  display: inline-block;
  text-align: center;
  vertical-align: -1px;
  line-height: 16px;
  position: relative;
  margin-right: 7px;
}

input[type='checkbox']::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

input[type='checkbox']:checked::before {
  /* content: '\2713'; */
  content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDExIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEuNDUwMTEgMy4zMzU0M0wwLjAxODc5ODggNC43NzA4NkwzLjgzMDk1IDhMMTAuMDgxMyAxLjI2NzVMOC40NzQxNSAwTDMuNjQ4NjUgNS4xOTc3NEwxLjQ1MDExIDMuMzM1NDNaIiBmaWxsPSJ3aGl0ZSIvPjwvc3ZnPg==');
  background-color: #e64c5a;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 2px;
  font-size: 12px;
}
